<ion-header>
  <ion-toolbar>
    <ion-title>{{ artistName + ' / Top Tracks' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectSong(null)">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar
    type="indeterminate"
    *ngIf="!songs.tracks"
  >
  </ion-progress-bar>

  <ion-list *ngIf="songs">
    <ion-item *ngFor="let song of songs.tracks; index as i" (click)="selectSong(song)">
      <ion-avatar>
        {{ i+1 }}
      </ion-avatar>
      <ion-label>
        <h2>{{ song.name }}</h2>
        <p>{{ song.popularity }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
