<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="ion-padding">Artists</h2>
  <ion-slides [options]="slideOpts" *ngIf="artists.length"> 
    <ion-slide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <!-- <img src="https://via.placeholder.com/150"> -->
        <img [src]="artist.images[0].url">
        <small>{{ artist.name }}</small>
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <h2 class="ion-padding">Albums</h2>
  <ion-slides [options]="slideOpts" *ngIf="albums.length"> 
    <ion-slide *ngFor="let album of albums">
      <ion-avatar class="square-avatar">
        <!-- <img src="https://via.placeholder.com/150"> -->
        <img [src]="album.images[0].url">
        <small>{{ album.name }}</small>
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <h2 class="ion-padding">Singles</h2>
  <ion-slides [options]="slideOpts" *ngIf="songs.length"> 
    <ion-slide *ngFor="let song of songs">
      <ion-avatar class="square-avatar">
        <img [src]="song.images[0].url">
        <small>{{ song.name }}</small>
      </ion-avatar>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer *ngIf="song.name || isSongPlaying">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start"><small>{{ parseTime(currentSong.currentTime) }}</small></ion-col>
      <ion-col class="ion-text-end"><small>{{ parseTime(currentSong.duration) }}</small></ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="elapsedTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart" ></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>
          {{ song.name }}
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!isSongPlaying"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="isSongPlaying"></ion-icon>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-footer>


<!-- <ion-footer>
  <ion-text color="danger" *ngIf="!song.name">
    <small>Waiting for a song...</small>
  </ion-text>
  <ion-text color="primary" *ngIf="song.name">
    <small>{{ song.name }}</small>
  </ion-text>
</ion-footer> -->