<ion-content padding>
  <ion-slides pager="true">

    <ion-slide>
      <ion-icon name="close"></ion-icon>
          <img src="assets/img/logo.png" alt="Logo OITSYS">
          <h1>Escucha tu música</h1>
          <h2>en cualquier lugar</h2>
          <p>
            Los mejores álbumes, las mejores canciones. Escucha y comparte 
            en cualquier momento, todas horas.
          </p>
          <ion-icon name="play"></ion-icon>
      </ion-slide>

    <ion-slide>
        <ion-icon name="close"></ion-icon>
        <br>
        <img src="assets/img/logo.png" alt="Logo OITSYS">
        <h1>Escucha tu música</h1>
        <h2>en cualquier lugar</h2>
        <p>
          Los mejores álbumes, las mejores canciones. Escucha y comparte 
          en cualquier momento, todas horas.
        </p>
        <ion-icon name="play"></ion-icon>
      </ion-slide>

      <ion-slide>
          <ion-icon name="close"></ion-icon>
          <br>
          <img src="assets/img/logo.png" alt="Logo OITSYS">
          <h1>Escucha tu música</h1>
          <h2>en cualquier lugar</h2>
          <p>
            Los mejores álbumes, las mejores canciones. Escucha y comparte 
            en cualquier momento, todas horas.
          </p>
          <ion-icon name="play"></ion-icon>
        </ion-slide>

  </ion-slides>
</ion-content>
