<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="success-background">
      
    <ion-avatar (click)="takePicture()">
      <img [src]="defaultPicture" *ngIf="!picture">
      <img [src]="picture" *ngIf="picture">
    </ion-avatar>
    
    <h1>Registered User</h1>
    <h2>user@oitsys.com</h2>
    
    <ion-grid>
      <ion-row class="ion-align-items-center ion-text-center row-header">
        <ion-col>36</ion-col>
        <ion-col>639</ion-col>
        <ion-col>963</ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center">
        <ion-col>Artists</ion-col>
        <ion-col>Followers</ion-col>
        <ion-col>Songs</ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
</ion-content>
